<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title th:text="${titulo}">Document</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Clientes</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" th:href="@{/listar}">Cliente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Otra</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">cosa</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <h1 th:text="${titulo}" class="text-center"></h1>
    <br>
    <div class="container">
    <form th:action="@{/form}" th:object="${cliente}" method="post">
        <div class="form-control">
            <label class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-6">
                <input type="text" th:field="*{nombre}" class="form-control">
                <div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
            </div>
        </div>
        <div class="form-control">
            <label class="col-sm-2 col-form-label">Apellido</label>
            <div class="col-sm-6">
                <input type="text" th:field="*{apellido}" class="form-control">
            </div>
        </div>
        <div class="form-control">
            <label class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-6">
                <input type="email" th:field="*{email}" class="form-control">
            </div>
        </div>
        <div class="form-control">
            <label class="col-sm-2 col-form-label">Fecha</label>
            <div class="col-sm-6">
                <input type="date" th:field="*{CreateAt}" class="form-control">
            </div>
        </div>
        <div class="form-control">
            <div class="col-sm-6">
                <input type="submit" th:value="${valor}" th:field="*{CreateAt}" class="btn btn-primary">
            </div>
        </div>
        <!--
        <table class="table text-center">
            <tr>
                <td>Nombre</td>
                <td>
                    <input type="text" th:field="*{nombre}" class="form-control">
                </td>
            </tr>
            <tr>
                <td>Apellido</td>
                <td>
                    <input type="text" th:field="*{apellido}" class="form-control">
                </td>
            </tr>
            <tr>
                <td>Email</td>
                <td>
                    <input type="email" th:field="*{email}" class="form-control">
                </td>
            </tr>
            <tr>
                <td>Fecha</td>
                <td>
                    <input type="date" th:field="*{CreateAt}" class="form-control">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Crear Cliente" class="btn btn-primary">
                </td>
            </tr>
            <input type="hidden" th:field="*{id}">
        </table>-->

    </form>
</div>
</body>

</html>