<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title th:text="${titulo}">Document</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-secondary " data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" >Ventas </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" th:href="@{/Ventas/listar}">Detalle</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Proceso</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Mantenimiento</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <h1 th:text="${titulo}" class="text-center"></h1>
    <br>
    <a th:href="@{Ventas/form}" class="btn btn-secondary">Registrar Detalle</a>
    <table class="table text-center">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">ID_PRODUCTO</th>
                <th scope="col">ID_VENTA</th>
                <th scope="col">CANTIDAD</th>
                <th scope="col">Editar</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="Detalle: ${Detalle}">
                <td th:text="${Detalle.Id}"></td>
                <td th:text="${Detalle.idProducto}"></td>
                <td th:text="${Detalle.idVenta}"></td>
                <td th:text="${Detalle.cantidad}"></td>
                <td th:text="${Detalle.valorVenta}"></td>
                <td><a class="btn btn-primary btn-xs" th:href="@{Detalle/form/}+${Detalle.Id}">Editar</a></td>
                <td><a class="btn btn-danger btn-xs" th:href="@{Detalle/eliminar/}+${Detalle.Id}"
                        onclick="return confirm('Esta seguro de eliminar?')">Eliminar</a></td>
            </tr>
        </tbody>
    </table> 
</body>

</html>